body .result{
	text-align:center;
	}
.get_result{
	text-align:center;
	font-size:25px;
	}
.get_result1{
	/margin-left:21.5%;
	margin-left:2%;
	float:left;
	font-size:20px;
	}
.get_result2{
	float:right;
	/margin-right:21.5%;
	margin-right:2%;
	text-align:right;
	font-size:20px;
	}
.result{
	border-collapse:collapse;
	margin:auto;
	margin-top:3em;
	border:3px solid;
	/width:100%;
	}
.result th{
	border:3px solid;
	font-size:15pt;
/	width:5%;
	height:2em;
	padding-left:.5em;
	padding-right:.5em;
	}
.result td{
	border:3px solid;
	text-align:center;
	font-size:15pt;
	height:2em;
	padding-left:.5em;
	padding-right:.5em;
	}